<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ReviewDoc Dashboard</title>

        <!-- Favicon icon -->
        <%= image_tag("rd2.png", height: '32', width: '32') %>

        <%= stylesheet_link_tag 'bootstrap/css/bootstrap.css' %>
        <%= stylesheet_link_tag 'toast-master/css/jquery.toast.css' %>
        <%= stylesheet_link_tag 'style.css' %>
        <%= stylesheet_link_tag 'blue.css' %>
        <%= stylesheet_link_tag 'bootstrap-daterangepicker/daterangepicker.css' %>
        <%= stylesheet_link_tag 'bootstrap-datepicker/bootstrap-datepicker.min.css' %>
        <%= stylesheet_link_tag 'html5-editor/bootstrap-wysihtml5.css' %>

        <%= javascript_include_tag 'jquery/jquery.min.js' %>
        <%= javascript_include_tag 'bootstrap/js/popper.js' %>
        <%= javascript_include_tag 'bootstrap/js/bootstrap.min.js' %>
        <%= javascript_include_tag 'jquery.slimscroll.js' %>
        <%= javascript_include_tag 'waves.js' %>
        <%= javascript_include_tag 'sidebarmenu.js' %>
        <%= javascript_include_tag 'sticky-kit-master/dist/sticky-kit.min.js' %>
        <%= javascript_include_tag 'custom.min.js' %>
        <%= javascript_include_tag 'html5-editor/wysihtml5-0.3.0.js' %>
        <%= javascript_include_tag 'html5-editor/bootstrap-wysihtml5.js' %>
        <%= javascript_include_tag 'dashboard1.js' %>
        <%= javascript_include_tag 'toast-master/js/jquery.toast.js' %>
        <%= javascript_include_tag 'toastr.js' %>
        <%= javascript_include_tag 'timepicker/bootstrap-timepicker.min.js' %>
        <%= javascript_include_tag 'bootstrap-daterangepicker/daterangepicker.js' %>
        <%= javascript_include_tag 'bootstrap-datepicker/bootstrap-datepicker.min.js' %>

    </head>

    <body class="fix-header fix-sidebar card-no-border">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">

                <nav class="navbar top-navbar navbar-expand-md navbar-light">

                <!-- ============================================================== -->
                <!--                            LOGO                                -->
                <!-- ============================================================== -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <!-- Logo icon -->
                            <b>
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="assets/images/rd2.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span>
                             <!-- dark Logo text -->
                             <img src="assets/images/rd.png" alt="homepage" class="dark-logo" />
                             <!-- Light Logo text -->    
                             <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                    </div>

                <!-- ============================================================== -->
                <!--                        END LOGO                                -->
                <!-- ============================================================== -->

                    <div class="navbar-collapse">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav mr-auto mt-md-0 ">
                            <!-- This is  -->
                            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>
                            <!-- ============================================================== -->
                            <!-- Comment -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu mailbox animated bounceInDown">
                                    <ul>
                                        <li>
                                            <div class="drop-title">Notifications</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- ============================================================== -->
                            <!-- End Comment -->
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- Notifications -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                                    <ul>
                                        <li>
                                            <div class="drop-title">You have 4 new messages</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                                </a>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- ============================================================== -->
                            <!-- End Notification -->
                            <!-- ============================================================== -->
                        </ul>

                    </div>
                </nav>
            </header>

    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- User profile -->
                    <div class="user-profile row">
                        <!-- User profile image -->
                        <div class="profile-img"> <img src="assets/images/users/1.jpg" alt="user" /> </div>
                        <!-- User profile text-->
                        <div class="profile-text"> 
                            <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Markarn Doe <span class="caret"></span></a>
                            <p class="text-muted" style="margin-left:-5%;
                font-size:10px;">Payment plan</p>
                            <div class="dropdown-menu animated flipInY">

                                <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                                <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                                <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                                <div class="dropdown-divider"></div> 
                                <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                                <div class="dropdown-divider"></div> 
                                <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>

                            </div>
                        </div>
                    </div>


    <!--============================================================-> 
                            SIDEBAR NAVIGATION 
    <!-============================================================-->

    			<!--  1st nav entry   -->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">

                            <li >
                                <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i>
                                    <span class="hide-menu">Review Platforms 
                                        
                                    </span>
                                </a>
                                <ul aria-expanded="false" class="collapse">

                                    <li><a href=''>Yelp.com</a></li>
                                    <li><a href=''>TripAdvisor.com</a></li>
                                    <li><a href=''>Glassdoor.com</a></li>
                                    <li><a href=''>Angieslist.com</a></li>
                                    <li><a href=''>Trustpilot.com</a></li>

                                </ul>
                            </li>
                <!--  2nd nav entry   -->
                            <li>
                                <a href="#" aria-expanded="false"><i class="mdi mdi-arrow-compress"></i><span class="hide-menu">Competitive</span> </a>
                            </li>
    			<!--  3rd nav entry   -->
                            <li>
                                <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Message Templates</span></a>
                                <ul aria-expanded="false" class="collapse">

                                    <li><a style="text-align:left;" href="app-email.html">Example</a></li>
                                    <li><a style="text-align:left;" href="app-email-detail.html">myTemplate#1</a></li>
                                    <li>
                                        <button style="width:35%;text-align:left; margin-left:7%; margin-top:5px;" type="button"  class="btn btn-xs btn-block btn-info" >Create New</button>
                                    </li>
                                </ul>
                            </li>
    			<!--  4th nav entry   -->
                            <li class="nav-small-cap">SETTINGS</li>

                            <li>
                               <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Review Platforms <span class="label label-rounded label-success">5</span></span></a>
                                <ul aria-expanded="false" class="collapse">

                                </ul>
                            </li>
                <!-- 5th nav entry   -->
                            <li>
                               <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Review Platforms <span class="label label-rounded label-success">5</span></span></a>
                                <ul aria-expanded="false" class="collapse">

                                </ul>
                            </li>
                        </ul>

    			<!-- Sidebar bottom -->

                        <div class="sidebar-footer">
                            <!-- item-->
                            <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                            <!-- item-->
                             <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                            <!-- item-->
                            <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
                        </div>
        <!-- End Bottom points-->
                    </nav>
            </div>

        </aside>
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">

                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">

    <!--============================================================-> 
                    END SIDEBAR NAVIGATION 
    <!-============================================================-->

    <!--============================================================-> 
                    REVIEW PLATFORM STATS 
    <!-============================================================-->

                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <div class="card">
                                <div class="card-body p-b-0">

                                    <div class="row m-t-20">

                                        <!-- 1st review platform -->

                                        <div class="m-b-10 vm col-lg-3 col-md-4">
                                           
                                            	<p class="icon_bl"><img src="assets/images/google.png" alt="user" class="img-circle"/></p>
                                                <p class="platform-stat">2.5/5  <img src="assets/images/star-full.png" alt="user" class="img-circle"/></p>
                                            	<p class="platform-stat text-muted">128 reviews <span class="label label-rounded label-success">+5</span></p>
                                            
                                        </div>

                                        <!-- 2nd review platform -->

                                        <div class="m-b-10 vm col-lg-3 col-md-4">
                                            
                                            <p class="icon_bl"><img src="assets/images/tripadvisor.png" alt="user"  class="img-circle"/></p>
                                            <p class="platform-stat">4/5  <img src="assets/images/star-full.png" alt="user" class="img-circle"/></p>
                                            <p class="platform-stat text-muted">128 reviews</p> 
                                            
                                        </div>

                                        <!-- 3rd review platform -->

                                        <div class="m-b-10 vm col-lg-3 col-md-4">
                                            
                                            <p class="icon_bl"><img src="assets/images/yelp.png" alt="user" class="img-circle"/></p> 
                                            <p class="platform-stat">1.5/5  <img src="assets/images/star-full.png" alt="user" class="img-circle"/></p>
                                            <p class="platform-stat text-muted">128 reviews</p>
                                            
                                        </div>

                                        <!-- 4th review platform (Empty) -->

                                        <div class="m-b-10 vm col-lg-3 col-md-4">
                                            
                                            	<p class="icon_bl"><img src="assets/images/plus.png" alt="user" class="img-circle"/></p> 
                                            
                                        </div>
                                    
                                        <!-- Request review button -->

                                        <div class="m-b-10 vm vm_cel col-lg-3 review_bl">
                                            <div class="-2" style="margin-top:0">   
                                                <button type="button" class="btn btn-md btn-rounded btn-info" style="">Request Reviews </button>
                                                <div class="request-btn-notify text-muted custom_margin" >43% of your client list have given reviews after last request</div>
                                                <div class="request-btn-notify text-muted custom_margin" >4 days remaining to repeat request</div>
                                            </div>
                                        </div>
                                    
                                    </div>

    <!--============================================================-> 
                    END REVIEW PLATFORM STATS 
    <!-============================================================--> 

                    <!--============================================================-> 
                                        NAVIGATION TABS
                    <!-============================================================-->                   

                                    <ul class="nav nav-tabs customtab2" role="tablist">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#feedback" role="tab" aria-expanded="true">
                                            <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                            <span class="hidden-xs-down">Feedback</span></a> </li>
                                       
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#analytics" role="tab" aria-expanded="false">
                                            <span class="hidden-sm-up"><i class="ti-user"></i></span>
                                            <span class="hidden-xs-down">Analytics</span></a> </li>
                                        
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#clients" role="tab" aria-expanded="false">
                                            <span class="hidden-sm-up"><i class="ti-email"></i></span>
                                            <span class="hidden-xs-down">Clients</span></a> </li>
                                    </ul>

                        <!--=========================================->
                                        FEEDBACK TAB 
                        <-==========================================-->

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="feedback" role="tabpanel" aria-expanded="true">
                                            <div class="row">

                                    <!-- column -->

                                            <div class="col-lg-4 col-md-4">
                                            	<br>
                                                <p class="">
                                                	<span class="pull-left">
                                                    	<img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star.png" alt="user" class="img-circle"/>
                                                    </span>
                                                </p>
                                            	<textarea class="form-control tarea" spellcheck="false" disabled>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                            				</div>

                                    <!-- Column -->

                                            <div class="col-lg-4 col-md-4">
                                            	<br>
                                                <p class="">
                                                	<span class="pull-left">
                                                    	<img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star-full.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star.png" alt="user" class="img-circle"/>
                                                        <img src="assets/images/star.png" alt="user" class="img-circle"/>
                                                    </span>
                                                </p>
                                            	<textarea class="form-control tarea" spellcheck="false" disabled>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                                            </div>

                                        <!--================================================->
                                                                TO DO LIST 
                                        <!-================================================-->

                                            <div class="col-lg-4 col-md-4">
                                            	
                                                <div class="card">
                                                    <div class="card-body">

                                                        <button class="pull-right btn btn-sm btn-rounded btn-success" data-toggle="modal" data-target="#myModal">Add Task</button>
                                                        <h4 class="card-title">To Do list</h4>
                                                        <div class="to-do-widget m-t-20">
                                                            <!-- .modal for add task -->
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Add Task</h4>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form method="post">
                                                                                <div class="form-group">
                                                                                    <textarea class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                            <!-- /.modal -->
                                                            <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">

                                                                <li class="list-group-item" data-role="task">
                                                                    <div class="checkbox checkbox-info">
                                                                        <input type="checkbox" id="inputSchedule" name="inputCheckboxesSchedule">
                                                                        <label for="inputSchedule" class=""> 
                                                                            <span>Add tracking information</span> <span class="label label-light-warning">!</span> 
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group-item" data-role="task">
                                                                    <div class="checkbox checkbox-info">
                                                                        <input type="checkbox" id="inputCall" name="inputCheckboxesCall">
                                                                        <label for="inputCall" class=""> 
                                                                            <span>Improve custom support</span> <span class="label label-light-danger">!</span> 
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>    
                            				</div>
                                        </div>      
                                    </div>

                                    <!--====================================================->
                                                        END TO DO LIST 
                                    <!-====================================================-->     

                                <!--========================================================->
                                                END FEEDBACK TAB 
                                <-=========================================================-->

                                <!--========================================================->
                                                ANALYTICS TAB 
                                <-=========================================================-->
                                    <div class="tab-pane p-20" id="analytics" role="tabpanel" aria-expanded="false">       
                                        <div class="row">
                                            <div class="col-12">

                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4">
                                                            <div class="card-body">

                                                            <!-- Choose platform for analytics -->  
                                                                <div class="btn-group d-flex flex-row">
                                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Platform</button>
                                                                    <div class="dropdown-menu animated flipInY">
                                                                        <a class="dropdown-item" href="#yelp">Yelp</a>
                                                                        <a class="dropdown-item" href="#tripadvisor">TripAdvisor</a>
                                                                        <a class="dropdown-item" href="#angieslist">Angieslist</a>
                                                                        <a class="dropdown-item" href="#google">Google</a>
                                                                    </div>
                                                                    <div id="anaysis-period">
                                                                        <div class="input-daterange input-group" id="date-range">
                                                                            <input type="text" class="form-control" name="start" />
                                                                            <span class="input-group-addon bg-info b-0 text-white">to</span>
                                                                            <input type="text" class="form-control" name="end" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="submit-btn" style="margin:1% 0 1% 10%;">
                                                                        <button class="btn-block btn-info btn">Submit</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-4 b-r align-self-center">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-row">
                                                                    <div class="col-5 p-0 align-self-center">
                                                                        <h3 class="m-b-0">31568</h3>
                                                                        <h5 class="text-muted m-b-0">Growth</h5> </div>
                                                                    <div class="col-7 text-right">
                                                                        <h3 class="m-b-0">31568</h3>
                                                                        <h5 class="text-muted m-b-0">Growth</h5> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <div class="col-lg-3 col-md-4 align-self-center">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-row">
                                                                    <div class="col-5 p-0 align-self-center">
                                                                        <h3 class="m-b-0">15478</h3>
                                                                        <h5 class="text-muted m-b-0">Loss</h5> </div>
                                                                    <div class="col-7 text-right">
                                                                        <h3 class="m-b-0">15478</h3>
                                                                        <h5 class="text-muted m-b-0">Loss</h5> </div>
                                                                    </div>
                                                                </div>
                                                            </div>        
                                                        </div>
                                                        <div>
                                                            <hr class="m-t-0"> 
                                                        </div>
                    					       </div>
                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Line Chart</h4>
                                                            <div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                                <div class="row">
                                					<!-- Column -->
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="card card-inverse card-primary">
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <div class="m-r-20 align-self-center">
                                                                    </div>
                                                                    <div>
                                                                        <h3 class="card-title">Bandwidth usage</h3>
                                                                        <h6 class="card-subtitle">March  2017</h6> </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-4 align-self-center">
                                                                        <font class="display-6 text-white">50 GB</font>
                                                                    </div>
                                                                    <div class="col-8 align-self-center">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        					<!-- Column -->

                        					<!-- Column -->
                                            <div class="col-lg-6 col-md-6">
                                                <div class="card card-inverse card-danger">
                                                    <div class="card-body">
                                                        <div class="d-flex">
                                                            <div class="m-r-20 align-self-center">

                                                                <h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>

                                                            <div>
                                                                <h3 class="card-title">Download count</h3>
                                                                <h6 class="card-subtitle">March  2017</h6> </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4 align-self-center">
                                                                <font class="display-6 text-white">35487</font>
                                                            </div>
                                                            <div class="col-8  text-right">
                                                                <div class="spark-count" style="height:120px"><canvas width="242" height="100" style="display: inline-block; width: 242px; height: 100px; vertical-align: top;"></canvas></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    					</div>
                                    </div>
                                </div>
                            </div>
                                <!--========================================================->
                                                    END ANALYTICS TAB 
                                <-=========================================================-->                                    

                                <!--========================================================->
                                                     CLIENT TAB        
                                <-=========================================================-->

                                            <div class="tab-pane p-20" id="clients" role="tabpanel" aria-expanded="false">
                                                <div class="row button-group">

                                                    <div class="col-lg-12 col-md-12 table-responsive">
                                                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                <th>Name</th>
                                                                <th>Mail</th>
                                                                <th>Phone Number</th>
                                                                <th>Responded</th>
                                                                <th>Days to repeat request</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                <td>Tiger Nixon</td>
                                                                <td>babytiger@gmail.com</td>
                                                                <td>+30 6943054117</td>
                                                                <td>YES</td>
                                                                <td>4</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                    								</div>
                                                </div>
                                                <br>
                                            
                                                <div class="row button-group">
                                                    <div class="col-lg-2 col-md-4">
                                                        <button type="button" class="btn btn-block btn-info">Import Client List</button>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                        <button type="button" class="btn btn-block btn-info">Export Client List</button>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4">
                                                    <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Contact</button>
                                                    </div>
                                                    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">

                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <from class="form-horizontal form-material">
                                                                                    <div class="form-group">
                                                                                        <div class="col-md-12 m-b-20">
                                                                                            <input type="text" class="form-control" placeholder="Type name"> 
                                                                                        </div>
                                                                                        <div class="col-md-12 m-b-20">
                                                                                            <input type="text" class="form-control" placeholder="Email"> 
                                                                                        </div>
                                                                                        <div class="col-md-12 m-b-20">
                                                                                            <input type="text" class="form-control" placeholder="Phone">
                                                                                        </div>
                                                                                            <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light">
                                                                                                <span><i class="ion-upload m-r-5"></i>Upload Contact Image</span>
                                                                                                <input type="file" class="upload"> 
                                                                                            </div>
                                                                                    </div>
                                                                                </from>
                                                                            </div>                                                                            
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                                        </div>
                                                                    </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                <!-- /.modal-dialog -->
                                                </div>
                                            </div>

                                <!--========================================================->
                                                    END CLIENT TAB        
                                <-=========================================================-->

                                        </div>
                                    </div>
                                               
                            </div>  
                        </div>
                    </div>
                </div>
                            <!-- =====================================================->
                                                END NAVIGATION TABS
                            <!-======================================================-->
                      
                    <!-- Row -->

                        <!-- ============================================================== -->
                        <!-- End PAge Content -->
                        <!-- ============================================================== -->
                   
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Container fluid  -->
                    <!-- ============================================================== -->
                </div>



                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer">
                    © 2017 ReviewDoc 
                </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->


            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->




    <!--====================================JAVASCRIPTS=========================================-->

    </body>

</html>
